---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "About Me";
const name = "Ethan";
const hometown = "Durango, Colorado";
const hobbies = ["music", "video games", "snowboarding", "working out"];
const student = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <h2>Hello, my name is {name}.</h2>
    <p>I’m from {hometown}.</p>
    <p>My hobbies are {hobbies.join(", ")}.</p>
    {student && <p>I am currently building my first Astro website.</p>}
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style>
  h1 {
    color: navy;
  }

  h2 {
    color: darkgreen;
  }
</style>