---
import "../styles/global.css";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Astro Site</title>
  </head>
  <body>
    <h1>Hello from Ethan’s Astro site!</h1>
    <p>This is my first Astro website.</p>
  </body>
</html>